.textdiv{
    width: 99%;
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}
.text{
  margin: 0 auto;
    
}
.calculator{
    margin: 0 auto;
   border: 2px solid rgb(119, 108, 108);
   max-width: 235px;
   height: 310px;
}
.input1{
    max-width: 221px;
    width: 95%;
    height: 40px;
    margin-top: 5px;
    margin-left: 3px;
}
.wrappernumber{
   max-width: 230px;
    height: 240px;
    margin-left: 3px;
   
    background-color: rgb(220, 238, 238);
   
}
.div1{
    margin-top: 10px;
 padding-top: 10px;
}
.btt{
    width: 50px;
    height: 50px;
    margin-left: 4px;
    
    margin-bottom: 4px;
}

/*--------------- response -------------------------- */

@media (max-width :240px){
    .btt{
        
        width: 35px;
         height:35px;
    }
}